matplotlib
pandas
xlwings
requests
pandas_ta
plotly
ta 
pyotp
whl 
pyyaml 
websockets 
backtesting
backtest
nbformat>=4.2.0
requests
load_dotenv
python-dotenv
pyperclip
numpy==1.26.3
pya3
yfinance
psycopg2
MetaTrader5